.sec2{
    margin-right: 6.5%;
    margin-left: 56%;
    direction:rtl;
    
                    
}
.sec2 h2{
    color: #283A81;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 3%;
    

}
.sec2 h3{
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 3%;
}
.sec2 p{
    color: black;
    font-size: 32px;
    margin-bottom: 3%;
}

.sec2 img{
    margin-right: 163%;
    margin-top: -86%;
}
.phh{
    margin-top: -50%;
}